
body{
	box-sizing: border-box;
}

p{
    text-align: justify;
}

.doboz {
    border: 2px solid rgb(86, 86, 86);
    border-radius: 15px;
    background-color: rgb(210, 237, 250);
}

.doboz table{
    border: 2px solid rgb(86, 86, 86);
}

.lablec a {
    color: #f00;
    font-weight: bold;
    text-decoration: none;
}

.lablec a:hover {
    font-style: italic;
    text-decoration: none;
    color: black;
    
}
.lablec a{
    color: black;
}
